lib/blueprints/auth0-group-mapping-blueprint/state-machines/view-user.json
{
  "Comment": "View user",
  "name": "Auth0 View User",
  "Version": "1.0",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "StartAt": "GetAllAuth0UserById",
  "States": {
    "GetAllAuth0UserById": {
      "Type": "Task",
      "InputPath": "$.userId",
      "Resource": "module:getAllAuth0UserById",
      "ResultPath": "$.auth0User",
      "Next": "GetStoredUserRoles"
    },
    "GetStoredUserRoles": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "getStoredUserRoles"
      },
      "Next": "GetRoleMemberships"
    },
    "GetRoleMemberships": {
      "Type": "Task",
      "Resource": "module:finding",
      "ResourceConfig": {
        "modelId": "tymly_roleMembership",
        "filter": {
          "where": {
            "memberId": {
              "equals": "$.userId"
            }
          }
        }
      },
      "ResultPath": "$.roleMemberships",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiName": "auth0_userDashboard",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "tymly_rbacAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
